<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新しいエッセイを書く</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>新しいエッセイを書く</h1>
    <form method="post">
        パスワード：<input type="password" name="password"><br><br>
        タイトル：<input type="text" name="title"><br><br>
        内容：<br>
        <textarea name="content" rows="10" cols="50"></textarea><br><br>
        <input type="submit" value="投稿する">
    </form>
    <a href="/">← 戻る</a>
</body>
</html>