body {
    font-family: sans-serif;
    margin: 2em;
    background: #fefefe;
    color: #333;
}
h1 {
    color: #444;
}
a {
    color: #0077cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
textarea {
    width: 100%;
    font-size: 1em;
}